openapi: 3.0.1
info:
  title: Billing API
  description: ''
  version: '1.0'
servers:
  - url: https://apigw.ipxo.com/billing
paths:
  '/v1/{tenantUUID}/cart/items':
    post:
      tags:
        - Cart
      summary: Add item to shopping cart
      description: 'Adds new item to shopping cart. For LOA product type with AWS BYOIP provisioning, include aws_account_id, aws_service, and aws_region in product_fields.'
      operationId: API-Pub-Cart-AddItem
      parameters:
        - name: tenantUUID
          in: path
          description: Tenant UUID
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/API.Pub.Requests.Cart.AddItemRequest'
            example:
              product_type: ipv4
              billing_cycle: 0
              label: string
              product_options:
                quantity:
                  <key1>: 0
                  <key2>: 0
                  <key..>: 0
                  <keyN>: 0
                selection:
                  <key1>: string
                  <key2>: string
                  <key..>: string
                  <keyN>: string
              product_fields:
                <key1>: { }
                <key2>: { }
                <key..>: { }
                <keyN>: { }
                aws_account_id: '123456789012'
                aws_service: EC2
                aws_region: us-east-1
      responses:
        '204':
          description: Successful operation
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/v1/common/asn/validate/{asn}':
    get:
      tags:
        - Common
      summary: ASN Validate
      description: ASN Validate
      operationId: API-Pub-Common-ASN-Validate
      parameters:
        - name: asn
          in: path
          description: ASN
          required: true
          schema:
            type: object
            properties:
              asn:
                type: integer
      responses:
        '200':
          description: ASN Validate Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Pub.Resources.Common.ASN.ASNResource'
              example:
                asn: 0
                valid: true
                as_name: string
                uce3: true
                ofac: true
                spamhaus: true
                country: string
                status: string
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v1/common/countries:
    get:
      tags:
        - Countries
      summary: Get list of countries
      description: Returns list of countries
      operationId: API-Pub-Common-Countries-List
      responses:
        '200':
          description: Countries resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Pub.Resources.Common.Countries.CountriesResource'
              example:
                uuid: string
                alpha_2_code: string
                alpha_3_code: string
                name: string
                phone_code: string
                tenant_availability: true
                ofac_listed: true
                states:
                  state_code1: string
                  state_code2: string
                  state_code..: string
                  state_codeN: string
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /v1/common/industries:
    get:
      tags:
        - Common
      summary: Get list of Tenant Industries
      description: Returns list of Tenant Industries
      operationId: API-Pub-Common-Industries-List
      parameters:
        - name: sort
          in: query
          description: Sort By Key
          schema:
            type: string
        - name: direction
          in: query
          description: Sort Direction
          schema:
            enum:
              - asc
              - desc
            type: string
            default: desc
      responses:
        '200':
          description: Industries Collection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Pub.Resources.Common.IndustryCollection'
              example:
                data:
                  - uuid: string
                    name: 0
                meta:
                  current_page: 0
                  from: 0
                  last_page: 0
                  per_page: 0
                  to: 0
                  total: 0
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v1/common/market/registrars:
    get:
      tags:
        - Common / Market
      summary: List available registrars
      description: Returns available registrars
      operationId: API-Pub-Common-Market-Registrars-List
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Pub.Resources.IPMarket.RegistrarCollection'
              example:
                - uuid: string
                  name: string
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v1/common/market/subnetUsage:
    get:
      tags:
        - Common / Market
      summary: List aggregated subnet usage
      description: Returns subnet usage
      operationId: API-Pub-Common-Market-SubnetUsage
      parameters:
        - name: mask
          in: query
          description: mask
          schema:
            maximum: 24.0
            minimum: 1.0
            type: integer
        - name: period
          in: query
          description: time period
          schema:
            type: string
            oneOf:
              - type: string
                format: date_time
              - enum:
                  - now
                type: string
        - name: sort
          in: query
          description: Sort. If direction is not provided defaults to descending.
          schema:
            type: array
            items:
              enum:
                - mask
                - period
              type: string
        - name: direction
          in: query
          description: Sorting direction. If not provided defaults to descending
          schema:
            type: array
            items:
              enum:
                - desc
                - asc
              type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Pub.Resources.Common.Statistics.SubnetUsageCollection'
              example:
                - mask: 0
                  free: 0
                  in_use: 0
                  price_min: 0
                  price_max: 0
                  price_avg: 0
                  period: string
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v1/common/market/subnetValidity:
    post:
      tags:
        - Common / Market
      summary: Check if prefixes is valid for adding to Market
      description: Check if prefixes is valid for adding to Market
      operationId: API-Pub-Common-Market-subnetValidity
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/API.Pub.Requests.Common.SubnetValidityRequest'
            example:
              prefixes:
                - string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Pub.Resources.Common.Market.SubnetValidityCollection'
              example:
                - address: string
                  cidr: 0
                  status: true
                  message: string
                  minimum_split: 0
                  maximum_split: 0
                  registry: string
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /v1/common/slack:
    get:
      tags:
        - Common
      summary: Get Public Slack URL
      description: Get Public Slack URL
      operationId: API-Pub-Common-Slack-Get
      responses:
        '200':
          description: Slack URL Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Pub.Resources.Common.Slack.SlackUrlResource'
              example:
                slack_url: string
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/v1/{tenantUUID}/market/deductions':
    get:
      tags:
        - Deductions
      summary: List Deductions
      description: List IP Market Deductions
      operationId: API-Pub-IPmarket-Deductions-List
      parameters:
        - name: tenantUUID
          in: path
          description: Tenant UUID
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/API.Pub.Requests.Deductions.IndexDeductionRequest'
            example:
              subnet: string
              status: completed
              created_at: 0
              sort: string
              direction: asc
              payout_uuid: string
              invoice_uuid: string
      responses:
        '200':
          description: IP Market Deductions Collection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Pub.Resources.IPMarket.Deductions.DeductionResource'
              example:
                uuid: string
                tenant_uuid: string
                ipmarket_service_uuid: string
                subnet: string
                amount: 0
                status: pending
                comment: string
                evidence: string
                all_sum: true
                lease_period: 0
                deduction_invoice_uuid: string
                created_at: 0
                updated_at: 0
                type: service
        '400':
          description: Invalid Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  '/v1/{tenantUUID}/market/deductions/invoices/{invoiceUUID}/pdf':
    get:
      tags:
        - Deductions
      summary: Get deduction invoice as PDF
      description: Returns deduction invoice as pdf
      operationId: API-Pub-IPmarket-Invoices-PDF
      parameters:
        - name: tenantUUID
          in: path
          description: Tenant UUID
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: invoiceUUID
          in: path
          description: Invoice UUID
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: Deduction Invoice
        '400':
          description: Invalid Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/v1/{tenantUUID}/market/services/{ipmarketServiceUUID}/documents/download':
    get:
      tags:
        - Market
      summary: Get LOA-A document PDF
      description: Get LOA-A document PDF
      operationId: API-Pub-IPMarket-Services-Documents-Download
      parameters:
        - name: tenantUUID
          in: path
          description: Tenant UUID
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: ipmarketServiceUUID
          in: path
          description: IPMarket Service UUID
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: LOA-A Documents
          content:
            application/pdf:
              schema:
                type: string
              examples:
                default:
                  value: 
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/v1/{tenantUUID}/market/ipv4':
    get:
      tags:
        - Market
      summary: Search available to buy subnets
      description: Returns available to buy subnets by given filters
      operationId: API-Pub-Market-IPV4-Search
      parameters:
        - name: tenantUUID
          in: path
          description: Tenant UUID
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: cidr
          in: query
          description: CIDR
          required: true
          schema:
            maximum: 24.0
            minimum: 8.0
            type: integer
        - name: 'registrar_uuids[]'
          in: query
          description: Array of Registrar UUIDs
          schema:
            maxLength: 24
            minLength: 24
            pattern: '^[a-z0-9]{24}$'
            type: string
        - name: reservation_id
          in: query
          description: Commitment Reservation ID
          schema:
            type: string
        - name: limit
          in: query
          description: Limit results to this number
          schema:
            maximum: 1000.0
            minimum: 10.0
            type: integer
            default: 100
        - name: sort
          in: query
          description: 'Sort. If prefixed with a dash, sorts descending'
          schema:
            type: array
            items:
              enum:
                - price
                - '-price'
                - address
                - '-address'
              type: string
        - name: price
          in: query
          description: Look for subnets with exact price
          schema:
            minimum: 0.0
            type: number
            format: float
        - name: price_min
          in: query
          description: Look for subnets above or equal this price. Cannot be used if 'price' parameter is given
          schema:
            minimum: 0.0
            type: number
            format: float
        - name: price_max
          in: query
          description: Look for subnets below or equal this price. Cannot be used if 'price' parameter is given
          schema:
            minimum: 0.0
            type: number
            format: float
        - name: geo_databases
          in: query
          description: Specify which databases to check for city/country filters
          schema:
            type: array
            items:
              enum:
                - maxmind
                - ip2location
                - dbip
                - ipinfo
              type: string
        - name: geo_country_code
          in: query
          description: Search subnets by country code
          schema:
            maxLength: 2
            minLength: 2
            type: string
        - name: geo_city_name
          in: query
          description: Search subnets by city name
          schema:
            type: string
        - name: octets
          in: query
          description: Search subnets by octets
          schema:
            maxItems: 4
            minItems: 1
            type: array
            items:
              type: integer
        - name: registry
          in: query
          description: Registrar Name. Optional registrar_uuids or registry.
          schema:
            enum:
              - RIPENCC
              - LACNIC
              - AFRINIC
              - ARIN
              - APNIC
            type: string
        - name: wants_to_negotiate
          in: query
          description: Search subnets by wants to negotiate
          schema:
            type: boolean
        - name: address
          in: query
          description: Address
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Pub.Resources.IPMarket.IPMarketIPV4Collection'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/v1/{tenantUUID}/market/ipv4/services/{serviceUUID}/loa/download':
    get:
      tags:
        - Market
      summary: Get LOA documents Zip
      description: Get LOA documents Zip
      operationId: API-Pub-IPMarket-IPv4-Services-LOA-Download
      parameters:
        - name: tenantUUID
          in: path
          description: Tenant UUID
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: serviceUUID
          in: path
          description: Service UUID
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: LOA Documents
          content:
            application/zip:
              schema:
                type: string
              examples:
                default:
                  value: 
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/v1/{tenantUUID}/market/ipv4/csv':
    get:
      tags:
        - Market
      summary: Export to CSV Tenant IPv4 Services
      description: Export to CSV Tenant IPv4 Services
      operationId: API-Pub-IPMarket-IPv4-Services-CSV
      parameters:
        - name: tenantUUID
          in: path
          description: Tenant UUID
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: uuid
          in: query
          description: Filter By IPv4 Service UUID
          schema:
            type: string
        - name: address
          in: query
          description: Filter By IPv4 Service Address
          schema:
            type: string
            format: ipv4
        - name: cidr
          in: query
          description: Filter by IPv4 Service CIDR
          schema:
            type: integer
        - name: registry
          in: query
          description: Filter by IPv4 Service Registry
          schema:
            enum:
              - ripencc
              - arin
            type: string
        - name: sort
          in: query
          description: Sort By Key
          schema:
            type: string
            description: "Expects the value to be list of keys sepparated by commas.\n    Default sort direction for each individual key is ASCENDING, but prefix '-' can be set for each individual key to indicate DESCENDING direction.\n    Valid keys are: [address,cidr,market_service_expiration_date,recurring_amount,billing_cycle,start_date,next_due_date].\n    Example: '-cidr,address' - will sort descendingly by <cidr> first and then by <address> for services with same <cidr>"
        - name: page
          in: query
          description: List Page
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          description: Items Per Page
          schema:
            type: integer
            default: 15
      responses:
        '200':
          description: IPv4 Services Collection
        '400':
          description: Invalid Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  '/v1/{tenantUUID}/market/ipv4/services/reserve':
    post:
      tags:
        - Market
      summary: Reserve Subnet
      description: Reserve Subnet
      operationId: API-Pub-IPMarket-IPv4-Services-Reserve
      parameters:
        - name: tenantUUID
          in: path
          description: Tenant UUID
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/API.Pub.Requests.IPMarket.ReserveSubnetForCommitmentRequest'
            example:
              pricing_uuid: string
              address: string
              cidr: 0
              ip_price: string
              contract_length: 0
      responses:
        '200':
          description: Success
        '400':
          description: Invalid Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/v1/{tenantUUID}/market/ipv4/services/{serviceUUID}/terminate_request':
    post:
      tags:
        - Market
      summary: Billing Terminate Request
      description: Billing Terminate Request
      operationId: API-Pub-IPMarket-IPv4-Services-TerminateRequest
      parameters:
        - name: tenantUUID
          in: path
          description: Tenant UUID
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: serviceUUID
          in: path
          description: Service UUID
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: Success
        '400':
          description: Invalid Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/v1/{tenantUUID}/market/ipv4/services/loa/revoke':
    post:
      tags:
        - Market
      summary: Revoke LOA documents for multiple subnets
      description: Revoke LOA documents for multiple subnets
      operationId: API-Pub-IPMarket-IPv4-Services-LOA-BulkRevoke
      parameters:
        - name: tenantUUID
          in: path
          description: Tenant UUID
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/v1/{tenantUUID}/market/payment_confirmations':
    get:
      tags:
        - Payouts
      summary: List Payment Confirmations
      description: List Payment Confirmations
      operationId: API-Pub-IPmarket-PaymentConfirmations-List
      parameters:
        - name: tenantUUID
          in: path
          description: Tenant UUID
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: page
          in: query
          description: List Page
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          description: Items Per Page
          schema:
            type: integer
            default: 15
        - name: confirmation_number
          in: query
          description: Confirmation Number
          schema:
            type: string
        - name: method
          in: query
          description: Method
          schema:
            type: string
        - name: transaction_id
          in: query
          description: Transaction Id
          schema:
            type: string
        - name: from_date
          in: query
          description: From Date
          schema:
            type: integer
        - name: to_date
          in: query
          description: To Date
          schema:
            type: integer
      responses:
        '200':
          description: Confirmation Invoices Collection
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/API.Pub.Resources.IPMarket.PaymentConfirmationResource'
                  meta:
                    $ref: '#/components/schemas/collectionMeta'
              example:
                data:
                  - uuid: string
                    confirmation_number: string
                    method: banktransfer
                    method_details: { }
                    date: 0
                    transaction_id: string
                    amount: 0
                    fee: 0
                meta:
                  current_page: 0
                  from: 0
                  last_page: 0
                  per_page: 0
                  to: 0
                  total: 0
        '400':
          description: Invalid Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  '/v1/{tenantUUID}/market/payment_confirmations/{paymentConfirmationUuid}':
    get:
      tags:
        - Payouts
      summary: Get single payment confirmation
      description: Returns single payment confirmation
      operationId: API-Pub-IPmarket-PaymentConfirmations-Show
      parameters:
        - name: tenantUUID
          in: path
          description: Tenant UUID
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: paymentConfirmationUuid
          in: path
          description: Payment Confirmation UUID
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: Payment Confirmation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Pub.Resources.IPMarket.PaymentConfirmationResource'
              example:
                uuid: string
                confirmation_number: string
                method: banktransfer
                method_details: { }
                date: 0
                transaction_id: string
                amount: 0
                fee: 0
        '400':
          description: Invalid Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  '/v1/{tenantUUID}/market/payment_confirmations/{paymentConfirmationUuid}/pdf':
    get:
      tags:
        - Payouts
      summary: Get payment confirmation as PDF
      description: Returns payment confirmation as pdf
      operationId: API-Pub-IPmarket-PaymentConfirmations-getPDF
      parameters:
        - name: tenantUUID
          in: path
          description: Tenant UUID
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: paymentConfirmationUuid
          in: path
          description: Payment Confirmation UUID
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: Payment Confirmation
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  '/v1/{tenantUUID}/market/payoutmethod':
    get:
      tags:
        - PayoutMethods
      summary: Get Current Payout Method
      description: Get Current Payout Method
      operationId: API-Pub-Market-PayoutMethod-Show
      parameters:
        - name: tenantUUID
          in: path
          description: Tenant UUID
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: Payout Method
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Pub.Resources.IPMarket.PayoutMethodResource'
              example:
                type: string
                details:
                  - { }
                cycle: 0
                minimal_amount: 0
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
    put:
      tags:
        - PayoutMethods
      summary: Set Payout Method
      description: Set Payout Method
      operationId: API-Pub-Market-PayoutMethod-Edit
      parameters:
        - name: tenantUUID
          in: path
          description: Tenant UUID
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/API.Pub.Requests.IPMarket.SetPayoutMethodRequest'
            example:
              details:
                beneficiary: string
                address: string
                bic: string
                iban: string
                bank_name: string
                email: string
                note: string
              type: banktransfer
              cycle: 0
              minimal_amount: 0
      responses:
        '200':
          description: Payout Method
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Pub.Resources.IPMarket.PayoutMethodResource'
              example:
                type: string
                details:
                  - { }
                cycle: 0
                minimal_amount: 0
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/v1/{tenantUUID}/market/payouts':
    get:
      tags:
        - Payouts
      summary: List Payouts
      description: List IP Market Payouts
      operationId: API-Pub-IPmarket-Payouts-List
      parameters:
        - name: tenantUUID
          in: path
          description: Tenant UUID
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: uuid
          in: query
          description: Filter By Payout UUID
          schema:
            type: string
        - name: service_uuid
          in: query
          description: Filter By Service UUID
          schema:
            type: string
        - name: address
          in: query
          description: Filter By IPv4 Address
          schema:
            type: string
            format: ipv4
        - name: cidr
          in: query
          description: Filter By CIDR
          schema:
            type: integer
        - name: amount
          in: query
          description: Filter By Amount
          schema:
            type: number
            format: float
        - name: total
          in: query
          description: Filter By Total
          schema:
            type: number
            format: float
        - name: lease_count
          in: query
          description: Filter By Lease Count
          schema:
            type: integer
        - name: status
          in: query
          description: Filter by Status
          schema:
            enum:
              - pending
              - completed
              - rejected
              - graph
            type: string
        - name: method
          in: query
          description: Filter By Method
          schema:
            type: string
        - name: start
          in: query
          description: Filter By Start period date in unix timestamp format
          schema:
            type: integer
        - name: end
          in: query
          description: Filter By End period date in unix timestamp format
          schema:
            type: integer
        - name: from
          in: query
          description: Filter by Start period date in unix timestamp format which is greater or equal to input
          schema:
            type: integer
        - name: to
          in: query
          description: Filter By End period date in unix timestamp format which is lower or equal to input
          schema:
            type: integer
        - name: status_date
          in: query
          description: Filter By Status change date in unix timestamp format
          schema:
            type: integer
        - name: created_at
          in: query
          description: Filter By Created date in unix timestamp format
          schema:
            type: integer
        - name: sort
          in: query
          description: Sort By Key
          schema:
            type: string
            description: "Expects the value to be list of keys sepparated by commas.\nDefault sort direction for each individual key is ASCENDING, but prefix '-' can be set for each individual key to indicate DESCENDING direction.\nValid keys are: [address,cidr,market_service_expiration_date,recurring_amount,billing_cycle,start_date,next_due_date].\nExample: '-cidr,address' - will sort descendingly by <cidr> first and then by <address> for services with same <cidr>"
        - name: page
          in: query
          description: List Page
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          description: Items Per Page
          schema:
            type: integer
            default: 15
      responses:
        '200':
          description: Payout Collection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Pub.Resources.IPMarket.PayoutCollection'
              example:
                data:
                  - uuid: string
                    tenant_uuid: string
                    service_uuid: string
                    address: string
                    cidr: 0
                    amount: 0
                    total: 0
                    lease_count: 0
                    status: pending
                    status_details: string
                    method: string
                    transaction_id: string
                    start: 0
                    end: 0
                    status_date: 0
                    created_at: 0
                    earnings:
                      - service_uuid: string
                        payout_uuid: string
                        amount: 0
                        start: 0
                        end: 0
                        created_at: 0
                meta:
                  current_page: 0
                  from: 0
                  last_page: 0
                  per_page: 0
                  to: 0
                  total: 0
        '400':
          description: Invalid Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  '/v1/{tenantUUID}/market/payouts/{payoutUuid}':
    get:
      tags:
        - Payouts
      summary: Get single payout
      description: Returns single payout identified by target UUID
      operationId: API-Pub-IPmarket-Payouts-Show
      parameters:
        - name: tenantUUID
          in: path
          description: Tenant UUID
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: payoutUuid
          in: path
          description: Payout UUID
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: Payout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Pub.Resources.IPMarket.PayoutResource'
              example:
                uuid: string
                tenant_uuid: string
                service_uuid: string
                address: string
                cidr: 0
                amount: 0
                total: 0
                lease_count: 0
                status: pending
                status_details: string
                method: string
                transaction_id: string
                start: 0
                end: 0
                status_date: 0
                created_at: 0
                earnings:
                  - service_uuid: string
                    payout_uuid: string
                    amount: 0
                    start: 0
                    end: 0
                    created_at: 0
        '400':
          description: Invalid Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  '/v1/{tenantUUID}/market/payouts/stats':
    get:
      tags:
        - Payouts
      summary: Get Payouts Statistics
      description: IP Market Payouts Statistics
      operationId: API-Pub-IPmarket-Payouts-Stats
      parameters:
        - name: tenantUUID
          in: path
          description: Tenant UUID
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: service_uuid
          in: query
          description: Filter By Service UUID
          schema:
            type: string
        - name: address
          in: query
          description: Filter By IPv4 Address
          schema:
            type: string
            format: ipv4
        - name: cidr
          in: query
          description: Filter By CIDR
          schema:
            type: integer
        - name: status_date_from
          in: query
          description: Filter by Start period date in unix timestamp format which is greater or equal to input
          schema:
            type: integer
        - name: status_date_to
          in: query
          description: Filter By End period date in unix timestamp format which is lower or equal to input
          schema:
            type: integer
      responses:
        '200':
          description: Payouts Statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Pub.Resources.IPMarket.PayoutsStatsResource'
              example:
                period:
                  from: 0
                  to: 0
                data:
                  - date: 0
                    amount: 0
                    subnet: string
                    service_uuid: string
                total: 0
                last_payout_date: 0
                next_payout_date: 0
                min_amount_reached: true
                unpaid: 0
        '400':
          description: Invalid Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  '/v1/{tenantUUID}/market/payouts_invoices':
    get:
      tags:
        - Payouts
      summary: List Payouts Invoices
      description: List IP Market Payouts Invoices
      operationId: API-Pub-IPmarket-PayoutsInvoices-List
      parameters:
        - name: tenantUUID
          in: path
          description: Tenant UUID
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: uuid
          in: query
          description: Filter By Payout Invoice UUID
          schema:
            type: string
        - name: invoice_number
          in: query
          description: Filter By Payout Invoice Number
          schema:
            type: string
        - name: service_uuid
          in: query
          description: Filter By Service UUID
          schema:
            type: string
        - name: subnet
          in: query
          description: Filter By Subnet
          schema:
            type: string
        - name: total
          in: query
          description: Filter By Total
          schema:
            type: number
            format: float
        - name: status
          in: query
          description: Filter by Status
          schema:
            enum:
              - paid
              - unpaid
            type: string
        - name: start
          in: query
          description: Filter by Start period date in unix timestamp format which is greater or equal to input
          schema:
            type: integer
        - name: end
          in: query
          description: Filter By End period date in unix timestamp format which is lower or equal to input
          schema:
            type: integer
        - name: sort
          in: query
          description: Sort By Key
          schema:
            type: string
            description: "Expects the value to be list of keys sepparated by commas.\nDefault sort direction for each individual key is ASCENDING, but prefix '-' can be set for each individual key to indicate DESCENDING direction.\nValid keys are: ['invoice_number','status','date','date_paid','total','address','cidr','start','end'].\nExample: '-cidr,address' - will sort descendingly by <cidr> first and then by <address> for services with same <cidr>"
        - name: page
          in: query
          description: List Page
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          description: Items Per Page
          schema:
            type: integer
            default: 15
      responses:
        '200':
          description: Payout Invoices Collection
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/API.Pub.Resources.IPMarket.PayoutInvoiceResource'
                  meta:
                    $ref: '#/components/schemas/collectionMeta'
              example:
                data:
                  - uuid: string
                    invoice_number: string
                    tenant_uuid: string
                    total: 0
                    fees: 0
                    status: paid
                    date: 0
                    date_paid: 0
                    payment_confirmation_uuid: string
                    items:
                      - uuid: string
                        type: payout
                        description: string
                        period_start: 0
                        period_end: 0
                        amount: 0
                        cidr: 0
                        address: string
                        service_uuid: string
                        start: 0
                        end: 0
                meta:
                  current_page: 0
                  from: 0
                  last_page: 0
                  per_page: 0
                  to: 0
                  total: 0
        '400':
          description: Invalid Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  '/v1/{tenantUUID}/market/payouts_invoices/{payoutInvoiceUuid}':
    get:
      tags:
        - Payouts
      summary: Get single payout invoice
      description: Returns single payout invoice
      operationId: API-Pub-IPmarket-PayoutsInvoices-Show
      parameters:
        - name: tenantUUID
          in: path
          description: Tenant UUID
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: payoutInvoiceUuid
          in: path
          description: Payout Invoice UUID
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: Payout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Pub.Resources.IPMarket.PayoutInvoiceResource'
              example:
                uuid: string
                invoice_number: string
                tenant_uuid: string
                total: 0
                fees: 0
                status: paid
                date: 0
                date_paid: 0
                payment_confirmation_uuid: string
                items:
                  - uuid: string
                    type: payout
                    description: string
                    period_start: 0
                    period_end: 0
                    amount: 0
                    cidr: 0
                    address: string
                    service_uuid: string
                    start: 0
                    end: 0
        '400':
          description: Invalid Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  '/v1/{tenantUUID}/market/payouts_invoices/{payoutInvoiceUuid}/pdf':
    get:
      tags:
        - Payouts
      summary: Get payout invoice as PDF
      description: Returns payout invoice as pdf
      operationId: API-Pub-IPmarket-PayoutsInvoices-getPDF
      parameters:
        - name: tenantUUID
          in: path
          description: Tenant UUID
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: payoutInvoiceUuid
          in: path
          description: Payout Invoice UUID
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: Payout Invoice
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  '/v1/{tenantUUID}/market/payouts_invoices/export/csv':
    get:
      tags:
        - Payouts
      summary: Export payout invoices CSV
      description: Export payout invoices CSV
      operationId: API-Pub-IPmarket-PayoutsInvoices-exportCSV
      parameters:
        - name: tenantUUID
          in: path
          description: Tenant UUID
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: Invoice
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    post:
      tags:
        - Payouts
      summary: Export payout invoices CSV
      description: Export payout invoices CSV
      operationId: API-Pub-IPmarket-PayoutsInvoices-exportCSV_Old
      parameters:
        - name: tenantUUID
          in: path
          description: Tenant UUID
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: Invoice
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  '/v1/{tenantUUID}/market/services/{ipmarketServiceUUID}/reputations':
    get:
      tags:
        - Market
      summary: Get IP Market service reputation scan result list
      description: Get IP Market service reputation scan result list
      operationId: API-Pub-IPMarket-Services-Reputation-List
      parameters:
        - name: tenantUUID
          in: path
          description: Tenant UUID
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: ipmarketServiceUUID
          in: path
          description: IPMarket Service UUID
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: IP Market service reputation scan results list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Pub.Resources.IPMarket.IpReputationCollection'
              example:
                data:
                  - id: 0
                    ip: string
                    ip_int: 0
                    country_code: string
                    detection_rate: string
                    detections: 0
                    detections_engine_list:
                      - id: 0
                        name: string
                        level: string
                        url: string
                        enabled: true
                    engines_count: 0
                    is_listed: true
                    is_proxy: true
                    is_tor: true
                    is_vpn: true
                    session_id: 0
                    created: 0
                    meta:
                      limit: 0
                      offset: 0
                      count: 0
                meta:
                  limit: 0
                  offset: 0
                  count: 0
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v1/common/pricing/commissions:
    get:
      tags:
        - Common
      summary: Get list of Commission minimum pricings
      description: Get list of Commission minimum pricings
      operationId: API-Pub-Common-Commissions-List
      responses:
        '200':
          description: Commissions Collection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Pub.Resources.Common.Pricings.CommissionsCollection'
              example:
                - cidr: 0
                  min_commission: 0
                  min_ip_price: 0
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/v1/{tenantUUID}/market/services':
    get:
      tags:
        - Market
      summary: List IP Market Services
      description: List IP Market Services
      operationId: API-Pub-IPMarket-List
      parameters:
        - name: tenantUUID
          in: path
          description: Tenant UUID
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: include
          in: query
          schema:
            enum:
              - billingServices.marketServicePricing
              - billingServices.commitments
              - commitmentReservations.commitment
              - pendingServiceReservations.pricing
            type: string
        - name: sort
          in: query
          description: Sort
          schema:
            type: array
            items:
              type: string
        - name: filter
          in: query
          description: Filters
          schema:
            type: object
            properties:
              address:
                type: string
              cidr:
                type: integer
              registry:
                type: string
              status:
                type: array
                items:
                  type: string
              hidden:
                type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/API.Pub.Requests.IPMarket.ListIPMarketServicesRequest'
            example:
              cidr: 0
              address: string
              hidden: true
              status:
                - auth_pending
              registry: string
              sort:
                - cidr
      responses:
        '200':
          description: IP Market Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Pub.Resources.IPMarket.IPMarketServiceCollection'
              example:
                data:
                  - uuid: string
                    address: string
                    cidr: 0
                    start: string
                    abuse_email: string
                    registry: string
                    status: auth_pending
                    auth:
                      type: string
                      status: string
                      description: string
                    whois:
                      status: string
                      description: string
                    bgp:
                      status: string
                      description: string
                    dns:
                      status: string
                      description: string
                    iprep:
                      status: string
                      description: string
                    loaa:
                      status: string
                      description: string
                    roa:
                      status: string
                      description: string
                    hidden: true
                    reservation_id: string
                    minimum_split: 0
                    maximum_split: 0
                    loa-a:
                      email: string
                      status: string
                      created_at: 0
                    ips:
                      run_rate: 0
                      run_rate_ip: 0
                      total: 0
                      used: 0
                      free: 0
                      utilisation_percent: 0
                    pricings:
                      data:
                        - uuid: string
                          subnet_size: 0
                          ip_count: 0
                          price: 0
                          commission: 0
                          wants_to_negotiate: true
                          selected_commitment_periods:
                            - 0
                      meta:
                        current_page: 0
                        from: 0
                        last_page: 0
                        per_page: 0
                        to: 0
                        total: 0
                    terminated: 0
                    expires_at: 0
                    has_commitments: true
                    can_initiate_expiration: true
                    services:
                      uuid: string
                      cidr: 0
                      address: string
                      status: string
                      pricing:
                        uuid: string
                        subnet_size: 0
                        ip_count: 0
                        price: 0
                        commission: 0
                        wants_to_negotiate: true
                        selected_commitment_periods:
                          - 0
                      commitment:
                        uuid: string
                        pricing_uuid: string
                        status: string
                        price: 0
                        period: 0
                        start_date: 0
                        end_date: 0
                    commitmentReservations:
                      uuid: string
                      address: string
                      cidr: 0
                      price: 0
                      commitment_period: 0
                      created_at: 0
                      tenant:
                        uuid: string
                        title: string
                      ipmarket_service:
                        uuid: string
                        address: string
                        cidr: 0
                      commitment:
                        uuid: string
                        pricing_uuid: string
                        status: string
                        price: 0
                        period: 0
                        start_date: 0
                        end_date: 0
                    serviceReservations:
                      address: string
                      cidr: 0
                      pricing:
                        uuid: string
                        subnet_size: 0
                        ip_count: 0
                        price: 0
                        commission: 0
                        wants_to_negotiate: true
                        selected_commitment_periods:
                          - 0
                meta:
                  current_page: 0
                  from: 0
                  last_page: 0
                  per_page: 0
                  to: 0
                  total: 0
        '400':
          description: Invalid Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    post:
      tags:
        - Market
      summary: Create IP Market Service
      description: Creates and returns IP Market Service
      operationId: API-Pub-IPMarket-Create
      parameters:
        - name: tenantUUID
          in: path
          description: Tenant UUID
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/API.Pub.Requests.IPMarket.AddToMarketRequest'
            example:
              subnets:
                - address: string
                  cidr: 0
                  minimum_split: 0
                  maximum_split: 0
                  pricings:
                    - cidr: 0
                      value: 0
                      wants_to_negotiate: true
                      selected_commitment_periods:
                        - 3
                  hidden: true
                  maintainer_id: string
                  maintainer_password: string
                  registry: string
              tos_accepted: true
              subnet_actions_accepted: true
      responses:
        '201':
          description: IP Market Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Pub.Resources.IPMarket.IPMarketServiceCollection'
              example:
                data:
                  - uuid: string
                    address: string
                    cidr: 0
                    start: string
                    abuse_email: string
                    registry: string
                    status: auth_pending
                    auth:
                      type: string
                      status: string
                      description: string
                    whois:
                      status: string
                      description: string
                    bgp:
                      status: string
                      description: string
                    dns:
                      status: string
                      description: string
                    iprep:
                      status: string
                      description: string
                    loaa:
                      status: string
                      description: string
                    roa:
                      status: string
                      description: string
                    hidden: true
                    reservation_id: string
                    minimum_split: 0
                    maximum_split: 0
                    loa-a:
                      email: string
                      status: string
                      created_at: 0
                    ips:
                      run_rate: 0
                      run_rate_ip: 0
                      total: 0
                      used: 0
                      free: 0
                      utilisation_percent: 0
                    pricings:
                      data:
                        - uuid: string
                          subnet_size: 0
                          ip_count: 0
                          price: 0
                          commission: 0
                          wants_to_negotiate: true
                          selected_commitment_periods:
                            - 0
                      meta:
                        current_page: 0
                        from: 0
                        last_page: 0
                        per_page: 0
                        to: 0
                        total: 0
                    terminated: 0
                    expires_at: 0
                    has_commitments: true
                    can_initiate_expiration: true
                    services:
                      uuid: string
                      cidr: 0
                      address: string
                      status: string
                      pricing:
                        uuid: string
                        subnet_size: 0
                        ip_count: 0
                        price: 0
                        commission: 0
                        wants_to_negotiate: true
                        selected_commitment_periods:
                          - 0
                      commitment:
                        uuid: string
                        pricing_uuid: string
                        status: string
                        price: 0
                        period: 0
                        start_date: 0
                        end_date: 0
                    commitmentReservations:
                      uuid: string
                      address: string
                      cidr: 0
                      price: 0
                      commitment_period: 0
                      created_at: 0
                      tenant:
                        uuid: string
                        title: string
                      ipmarket_service:
                        uuid: string
                        address: string
                        cidr: 0
                      commitment:
                        uuid: string
                        pricing_uuid: string
                        status: string
                        price: 0
                        period: 0
                        start_date: 0
                        end_date: 0
                    serviceReservations:
                      address: string
                      cidr: 0
                      pricing:
                        uuid: string
                        subnet_size: 0
                        ip_count: 0
                        price: 0
                        commission: 0
                        wants_to_negotiate: true
                        selected_commitment_periods:
                          - 0
                meta:
                  current_page: 0
                  from: 0
                  last_page: 0
                  per_page: 0
                  to: 0
                  total: 0
        '400':
          description: Invalid Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  '/v1/{tenantUUID}/market/services/{ipmarketServiceUUID}':
    get:
      tags:
        - Market
      summary: Get IP Market Service
      description: Get IP Market Service
      operationId: API-Pub-Market-Show
      parameters:
        - name: tenantUUID
          in: path
          description: Tenant UUID
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: ipmarketServiceUUID
          in: path
          description: IPMarket Service UUID
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: include
          in: query
          schema:
            enum:
              - billingServices.marketServicePricing
              - billingServices.commitments
              - commitmentReservations.commitment
              - pendingServiceReservations.pricing
            type: string
      responses:
        '200':
          description: IP Market Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Pub.Resources.IPMarket.IPMarketServiceResource'
              example:
                uuid: string
                address: string
                cidr: 0
                start: string
                abuse_email: string
                registry: string
                status: auth_pending
                auth:
                  type: string
                  status: string
                  description: string
                whois:
                  status: string
                  description: string
                bgp:
                  status: string
                  description: string
                dns:
                  status: string
                  description: string
                iprep:
                  status: string
                  description: string
                loaa:
                  status: string
                  description: string
                roa:
                  status: string
                  description: string
                hidden: true
                reservation_id: string
                minimum_split: 0
                maximum_split: 0
                loa-a:
                  email: string
                  status: string
                  created_at: 0
                ips:
                  run_rate: 0
                  run_rate_ip: 0
                  total: 0
                  used: 0
                  free: 0
                  utilisation_percent: 0
                pricings:
                  data:
                    - uuid: string
                      subnet_size: 0
                      ip_count: 0
                      price: 0
                      commission: 0
                      wants_to_negotiate: true
                      selected_commitment_periods:
                        - 0
                  meta:
                    current_page: 0
                    from: 0
                    last_page: 0
                    per_page: 0
                    to: 0
                    total: 0
                terminated: 0
                expires_at: 0
                has_commitments: true
                can_initiate_expiration: true
                services:
                  uuid: string
                  cidr: 0
                  address: string
                  status: string
                  pricing:
                    uuid: string
                    subnet_size: 0
                    ip_count: 0
                    price: 0
                    commission: 0
                    wants_to_negotiate: true
                    selected_commitment_periods:
                      - 0
                  commitment:
                    uuid: string
                    pricing_uuid: string
                    status: string
                    price: 0
                    period: 0
                    start_date: 0
                    end_date: 0
                commitmentReservations:
                  uuid: string
                  address: string
                  cidr: 0
                  price: 0
                  commitment_period: 0
                  created_at: 0
                  tenant:
                    uuid: string
                    title: string
                  ipmarket_service:
                    uuid: string
                    address: string
                    cidr: 0
                  commitment:
                    uuid: string
                    pricing_uuid: string
                    status: string
                    price: 0
                    period: 0
                    start_date: 0
                    end_date: 0
                serviceReservations:
                  address: string
                  cidr: 0
                  pricing:
                    uuid: string
                    subnet_size: 0
                    ip_count: 0
                    price: 0
                    commission: 0
                    wants_to_negotiate: true
                    selected_commitment_periods:
                      - 0
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
    delete:
      tags:
        - Market
      summary: Cancel IP Market Service
      description: Cancel IP Market Service
      operationId: API-Pub-IPMarket-Terminate
      parameters:
        - name: tenantUUID
          in: path
          description: Tenant UUID
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: ipmarketServiceUUID
          in: path
          description: IPMarket Service UUID
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: IP Market Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Pub.Resources.IPMarket.IPMarketServiceResource'
              example:
                uuid: string
                address: string
                cidr: 0
                start: string
                abuse_email: string
                registry: string
                status: auth_pending
                auth:
                  type: string
                  status: string
                  description: string
                whois:
                  status: string
                  description: string
                bgp:
                  status: string
                  description: string
                dns:
                  status: string
                  description: string
                iprep:
                  status: string
                  description: string
                loaa:
                  status: string
                  description: string
                roa:
                  status: string
                  description: string
                hidden: true
                reservation_id: string
                minimum_split: 0
                maximum_split: 0
                loa-a:
                  email: string
                  status: string
                  created_at: 0
                ips:
                  run_rate: 0
                  run_rate_ip: 0
                  total: 0
                  used: 0
                  free: 0
                  utilisation_percent: 0
                pricings:
                  data:
                    - uuid: string
                      subnet_size: 0
                      ip_count: 0
                      price: 0
                      commission: 0
                      wants_to_negotiate: true
                      selected_commitment_periods:
                        - 0
                  meta:
                    current_page: 0
                    from: 0
                    last_page: 0
                    per_page: 0
                    to: 0
                    total: 0
                terminated: 0
                expires_at: 0
                has_commitments: true
                can_initiate_expiration: true
                services:
                  uuid: string
                  cidr: 0
                  address: string
                  status: string
                  pricing:
                    uuid: string
                    subnet_size: 0
                    ip_count: 0
                    price: 0
                    commission: 0
                    wants_to_negotiate: true
                    selected_commitment_periods:
                      - 0
                  commitment:
                    uuid: string
                    pricing_uuid: string
                    status: string
                    price: 0
                    period: 0
                    start_date: 0
                    end_date: 0
                commitmentReservations:
                  uuid: string
                  address: string
                  cidr: 0
                  price: 0
                  commitment_period: 0
                  created_at: 0
                  tenant:
                    uuid: string
                    title: string
                  ipmarket_service:
                    uuid: string
                    address: string
                    cidr: 0
                  commitment:
                    uuid: string
                    pricing_uuid: string
                    status: string
                    price: 0
                    period: 0
                    start_date: 0
                    end_date: 0
                serviceReservations:
                  address: string
                  cidr: 0
                  pricing:
                    uuid: string
                    subnet_size: 0
                    ip_count: 0
                    price: 0
                    commission: 0
                    wants_to_negotiate: true
                    selected_commitment_periods:
                      - 0
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
    patch:
      tags:
        - Market
      summary: Update IP Market Service
      description: Updates and returns IP Market Service
      operationId: API-Pub-IPMarket-Update
      parameters:
        - name: tenantUUID
          in: path
          description: Tenant UUID
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: ipmarketServiceUUID
          in: path
          description: IPMarket Service UUID
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: include
          in: query
          schema:
            enum:
              - billingServices.marketServicePricing
              - billingServices.commitments
              - commitmentReservations.commitment
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/API.Pub.Requests.IPMarket.UpdateMarketRequest'
            example:
              hidden: true
              minimum_split: 0
              maximum_split: 0
              pricings:
                - uuid: string
                  cidr: 0
                  value: 0
                  wants_to_negotiate: true
                  selected_commitment_periods:
                    - 3
              maintainer_id: string
              maintainer_password: string
      responses:
        '200':
          description: IP Market Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Pub.Resources.IPMarket.IPMarketServiceResource'
              example:
                uuid: string
                address: string
                cidr: 0
                start: string
                abuse_email: string
                registry: string
                status: auth_pending
                auth:
                  type: string
                  status: string
                  description: string
                whois:
                  status: string
                  description: string
                bgp:
                  status: string
                  description: string
                dns:
                  status: string
                  description: string
                iprep:
                  status: string
                  description: string
                loaa:
                  status: string
                  description: string
                roa:
                  status: string
                  description: string
                hidden: true
                reservation_id: string
                minimum_split: 0
                maximum_split: 0
                loa-a:
                  email: string
                  status: string
                  created_at: 0
                ips:
                  run_rate: 0
                  run_rate_ip: 0
                  total: 0
                  used: 0
                  free: 0
                  utilisation_percent: 0
                pricings:
                  data:
                    - uuid: string
                      subnet_size: 0
                      ip_count: 0
                      price: 0
                      commission: 0
                      wants_to_negotiate: true
                      selected_commitment_periods:
                        - 0
                  meta:
                    current_page: 0
                    from: 0
                    last_page: 0
                    per_page: 0
                    to: 0
                    total: 0
                terminated: 0
                expires_at: 0
                has_commitments: true
                can_initiate_expiration: true
                services:
                  uuid: string
                  cidr: 0
                  address: string
                  status: string
                  pricing:
                    uuid: string
                    subnet_size: 0
                    ip_count: 0
                    price: 0
                    commission: 0
                    wants_to_negotiate: true
                    selected_commitment_periods:
                      - 0
                  commitment:
                    uuid: string
                    pricing_uuid: string
                    status: string
                    price: 0
                    period: 0
                    start_date: 0
                    end_date: 0
                commitmentReservations:
                  uuid: string
                  address: string
                  cidr: 0
                  price: 0
                  commitment_period: 0
                  created_at: 0
                  tenant:
                    uuid: string
                    title: string
                  ipmarket_service:
                    uuid: string
                    address: string
                    cidr: 0
                  commitment:
                    uuid: string
                    pricing_uuid: string
                    status: string
                    price: 0
                    period: 0
                    start_date: 0
                    end_date: 0
                serviceReservations:
                  address: string
                  cidr: 0
                  pricing:
                    uuid: string
                    subnet_size: 0
                    ip_count: 0
                    price: 0
                    commission: 0
                    wants_to_negotiate: true
                    selected_commitment_periods:
                      - 0
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
  '/v1/{tenantUUID}/market/services/{ipmarketServiceUUID}/status':
    get:
      tags:
        - Market
      summary: Return the status report for service
      description: Return the status report for service
      operationId: API-Pub-Market-Status
      parameters:
        - name: tenantUUID
          in: path
          description: Tenant UUID
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: ipmarketServiceUUID
          in: path
          description: IPMarket Service UUID
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: IP Market Service Status Report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Pub.Resources.IPMarket.ServiceStatusResource'
              example:
                abuse_email: string
                registry: string
                status: auth_pending
                auth:
                  type: string
                  status: string
                  description: string
                whois:
                  status: string
                  description: string
                bgp:
                  status: string
                  description: string
                dns:
                  status: string
                  description: string
                iprep:
                  status: string
                  description: string
                loaa:
                  status: string
                  description: string
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/v1/{tenantUUID}/market/services/{ipmarketServiceUUID}/expiration':
    delete:
      tags:
        - Market
      summary: Cancel IP Market Service expiration
      description: Cancel IP Market Service expiration
      operationId: API-Pub-IPMarket-Cancel-Expiration
      parameters:
        - name: tenantUUID
          in: path
          description: Tenant UUID
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: ipmarketServiceUUID
          in: path
          description: IPMarket Service UUID
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: IP Market Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Pub.Resources.IPMarket.IPMarketServiceResource'
              example:
                uuid: string
                address: string
                cidr: 0
                start: string
                abuse_email: string
                registry: string
                status: auth_pending
                auth:
                  type: string
                  status: string
                  description: string
                whois:
                  status: string
                  description: string
                bgp:
                  status: string
                  description: string
                dns:
                  status: string
                  description: string
                iprep:
                  status: string
                  description: string
                loaa:
                  status: string
                  description: string
                roa:
                  status: string
                  description: string
                hidden: true
                reservation_id: string
                minimum_split: 0
                maximum_split: 0
                loa-a:
                  email: string
                  status: string
                  created_at: 0
                ips:
                  run_rate: 0
                  run_rate_ip: 0
                  total: 0
                  used: 0
                  free: 0
                  utilisation_percent: 0
                pricings:
                  data:
                    - uuid: string
                      subnet_size: 0
                      ip_count: 0
                      price: 0
                      commission: 0
                      wants_to_negotiate: true
                      selected_commitment_periods:
                        - 0
                  meta:
                    current_page: 0
                    from: 0
                    last_page: 0
                    per_page: 0
                    to: 0
                    total: 0
                terminated: 0
                expires_at: 0
                has_commitments: true
                can_initiate_expiration: true
                services:
                  uuid: string
                  cidr: 0
                  address: string
                  status: string
                  pricing:
                    uuid: string
                    subnet_size: 0
                    ip_count: 0
                    price: 0
                    commission: 0
                    wants_to_negotiate: true
                    selected_commitment_periods:
                      - 0
                  commitment:
                    uuid: string
                    pricing_uuid: string
                    status: string
                    price: 0
                    period: 0
                    start_date: 0
                    end_date: 0
                commitmentReservations:
                  uuid: string
                  address: string
                  cidr: 0
                  price: 0
                  commitment_period: 0
                  created_at: 0
                  tenant:
                    uuid: string
                    title: string
                  ipmarket_service:
                    uuid: string
                    address: string
                    cidr: 0
                  commitment:
                    uuid: string
                    pricing_uuid: string
                    status: string
                    price: 0
                    period: 0
                    start_date: 0
                    end_date: 0
                serviceReservations:
                  address: string
                  cidr: 0
                  pricing:
                    uuid: string
                    subnet_size: 0
                    ip_count: 0
                    price: 0
                    commission: 0
                    wants_to_negotiate: true
                    selected_commitment_periods:
                      - 0
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/v1/{tenantUUID}/market/services/{ipmarketServiceUUID}/pricing':
    get:
      tags:
        - Market
      summary: List IP Market Service Pricing
      description: List IP Market Service Pricing
      operationId: API-Pub-Market-Pricing
      parameters:
        - name: tenantUUID
          in: path
          description: Tenant UUID
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: ipmarketServiceUUID
          in: path
          description: IPMarket Service UUID
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: IP Market Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Pub.Resources.IPMarket.ServicePricingCollection'
              example:
                data:
                  - uuid: string
                    subnet_size: 0
                    ip_count: 0
                    price: 0
                    commission: 0
                    wants_to_negotiate: true
                    selected_commitment_periods:
                      - 0
                meta:
                  current_page: 0
                  from: 0
                  last_page: 0
                  per_page: 0
                  to: 0
                  total: 0
        '400':
          description: Invalid Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  '/v1/{tenantUUID}/market/services/{ipmarketServiceUUID}/resend_verification':
    post:
      tags:
        - Market
      summary: Resend IP Market Service Verification Email
      description: Resend IP Market Service Verification Email
      operationId: API-Pub-IPMarket-ResendVerification
      parameters:
        - name: tenantUUID
          in: path
          description: Tenant UUID
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: ipmarketServiceUUID
          in: path
          description: IPMarket Service UUID
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '400':
          description: Invalid Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '406':
          description: Service has no abuse email set!
  '/v1/{tenantUUID}/market/services/csv':
    get:
      tags:
        - Market
      summary: Export CSV IP Market Services
      description: Export CSV IP Market Services
      operationId: API-Pub-IPMarket-exportToCsv
      parameters:
        - name: tenantUUID
          in: path
          description: Tenant UUID
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/API.Pub.Requests.IPMarket.ListIPMarketServicesRequest'
            example:
              cidr: 0
              address: string
              hidden: true
              status:
                - auth_pending
              registry: string
              sort:
                - cidr
      responses:
        '200':
          description: IP Market Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Pub.Resources.IPMarket.IPMarketServiceCollection'
              example:
                data:
                  - uuid: string
                    address: string
                    cidr: 0
                    start: string
                    abuse_email: string
                    registry: string
                    status: auth_pending
                    auth:
                      type: string
                      status: string
                      description: string
                    whois:
                      status: string
                      description: string
                    bgp:
                      status: string
                      description: string
                    dns:
                      status: string
                      description: string
                    iprep:
                      status: string
                      description: string
                    loaa:
                      status: string
                      description: string
                    roa:
                      status: string
                      description: string
                    hidden: true
                    reservation_id: string
                    minimum_split: 0
                    maximum_split: 0
                    loa-a:
                      email: string
                      status: string
                      created_at: 0
                    ips:
                      run_rate: 0
                      run_rate_ip: 0
                      total: 0
                      used: 0
                      free: 0
                      utilisation_percent: 0
                    pricings:
                      data:
                        - uuid: string
                          subnet_size: 0
                          ip_count: 0
                          price: 0
                          commission: 0
                          wants_to_negotiate: true
                          selected_commitment_periods:
                            - 0
                      meta:
                        current_page: 0
                        from: 0
                        last_page: 0
                        per_page: 0
                        to: 0
                        total: 0
                    terminated: 0
                    expires_at: 0
                    has_commitments: true
                    can_initiate_expiration: true
                    services:
                      uuid: string
                      cidr: 0
                      address: string
                      status: string
                      pricing:
                        uuid: string
                        subnet_size: 0
                        ip_count: 0
                        price: 0
                        commission: 0
                        wants_to_negotiate: true
                        selected_commitment_periods:
                          - 0
                      commitment:
                        uuid: string
                        pricing_uuid: string
                        status: string
                        price: 0
                        period: 0
                        start_date: 0
                        end_date: 0
                    commitmentReservations:
                      uuid: string
                      address: string
                      cidr: 0
                      price: 0
                      commitment_period: 0
                      created_at: 0
                      tenant:
                        uuid: string
                        title: string
                      ipmarket_service:
                        uuid: string
                        address: string
                        cidr: 0
                      commitment:
                        uuid: string
                        pricing_uuid: string
                        status: string
                        price: 0
                        period: 0
                        start_date: 0
                        end_date: 0
                    serviceReservations:
                      address: string
                      cidr: 0
                      pricing:
                        uuid: string
                        subnet_size: 0
                        ip_count: 0
                        price: 0
                        commission: 0
                        wants_to_negotiate: true
                        selected_commitment_periods:
                          - 0
                meta:
                  current_page: 0
                  from: 0
                  last_page: 0
                  per_page: 0
                  to: 0
                  total: 0
        '400':
          description: Invalid Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  '/v1/{tenantUUID}/market/services/{ipmarketServiceUUID}/reservation_id':
    post:
      tags:
        - Market
      summary: Update The Commitment Reservation ID
      description: Update The Commitment Reservation ID
      operationId: API-Pub-IPMarket-UpdateReservationId
      parameters:
        - name: tenantUUID
          in: path
          description: Tenant UUID
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: ipmarketServiceUUID
          in: path
          description: IPMarket Service UUID
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: remove
          in: query
          description: Remove The Commitment Reservation Id
          schema:
            type: boolean
            default: false
      responses:
        '400':
          description: Invalid Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  '/v1/{tenantUUID}/market/services/{ipmarketServiceUUID}/event_logs':
    get:
      tags:
        - EventLog
      summary: List EventLog
      description: List IP Market EventLog
      operationId: API-Pub-IPmarket-EventLog-List
      parameters:
        - name: tenantUUID
          in: path
          description: Tenant UUID
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: ipmarketServiceUUID
          in: path
          description: IPMarket Service UUID
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: event
          in: query
          description: Filter by Event Type
          schema:
            enum:
              - pricing_updated
              - pricing_created
              - leased
              - released
              - created
            type: string
        - name: start
          in: query
          description: Filter by Start period date in unix timestamp format which is greater or equal to input
          schema:
            type: integer
        - name: end
          in: query
          description: Filter By End period date in unix timestamp format which is lower or equal to input
          schema:
            type: integer
        - name: sort
          in: query
          description: Sort by key
          schema:
            enum:
              - created_at
            type: string
        - name: label
          in: query
          description: Filter By Subnet label
          schema:
            type: string
        - name: page
          in: query
          description: List Page
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          description: Items Per Page
          schema:
            type: integer
            default: 15
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/API.Pub.Resources.IPMarket.EventLogResource'
                  meta:
                    $ref: '#/components/schemas/collectionMeta'
              example:
                data:
                  - label: string
                    type: string
                    data:
                      - string: string
                    created_at: 0
                meta:
                  current_page: 0
                  from: 0
                  last_page: 0
                  per_page: 0
                  to: 0
                  total: 0
        '400':
          description: Invalid Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Unprocessable Entity
  '/v1/{tenantUUID}/market/services/event_logs':
    get:
      tags:
        - EventLog
      summary: List EventLog
      description: List Tenant IP Market EventLog
      operationId: API-Pub-IPmarket-EventLog-listTenantLogs
      parameters:
        - name: tenantUUID
          in: path
          description: Tenant UUID
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: type
          in: query
          description: Filter by Event Type
          schema:
            enum:
              - pricing_updated
              - pricing_created
              - leased
              - released
              - created
            type: string
        - name: label
          in: query
          description: Filter by subnet label
          schema:
            type: string
        - name: start
          in: query
          description: Filter by Start period date in unix timestamp format which is greater or equal to input
          schema:
            type: integer
        - name: end
          in: query
          description: Filter By End period date in unix timestamp format which is lower or equal to input
          schema:
            type: integer
        - name: sort
          in: query
          description: Sort by key
          schema:
            enum:
              - created_at
            type: string
        - name: page
          in: query
          description: List Page
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          description: Items Per Page
          schema:
            type: integer
            default: 15
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/API.Pub.Resources.IPMarket.EventLogResource'
                  meta:
                    $ref: '#/components/schemas/collectionMeta'
              example:
                data:
                  - label: string
                    type: string
                    data:
                      - string: string
                    created_at: 0
                meta:
                  current_page: 0
                  from: 0
                  last_page: 0
                  per_page: 0
                  to: 0
                  total: 0
        '400':
          description: Invalid Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Unprocessable Entity
  '/v1/{tenantUUID}/invoices':
    get:
      tags:
        - Invoices
[...]
